.input {
	padding: 8px 12px;
	color: $color-text;
	font-family: inherit;
	font-size: 14px;
	border: 1px solid $color-border;
	border-radius: $border-small-radius;
	resize: vertical;
	outline: none;
	transition: box-shadow 0.1s ease-in;
	box-sizing: border-box;
	&:focus {
		box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.3) inset;
	}
}
.input--error {
	border-color: $color-danger;
	&:focus {
		box-shadow: 0 0 3px rgba($color: $color-danger, $alpha: 0.7) inset;
	}
}
