body {
	margin: 0;
	background-color: $color-body-background;
}

p {
	margin: 0 0 10px;
	&:only-child {
		margin: 0;
	}
}

img {
	max-width: 100%;
}


.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 10px;
}


.fade-enter-active, .fade-leave-active {
	transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}
