$color-text: #4f4f4f;
$color-text-dark: #303030;
$color-background: #fdfdfd;
$color-background-dark: #282c31;
$color-body-background: #eff3f9;
$color-border: #dadada;
$color-hover: #f0f0f0;
$color-danger: #ff5e7b;
$color-success: #00ac1d;
$color-brand: #3baeda;

$border-large-radius: 12px;
$border-small-radius: 8px;

$size-mobile: 767px;
